CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
#CONFIG_ESPTOOLPY_AFTER_NORESET=y
#CONFIG_ESPTOOLPY_OCT_FLASH=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/ARDUINO_NANO_ESP32/partitions-app3M_fat9M_fact512k_16MiB.csv"
#"partitions-8MiBplus-ota.csv"
